body {
  background-color: black;
  margin: 0;
  overflow: hidden;
}

@font-face {
  font-family: 'HACKED Regular';
  src: url('../fonts/HACKED.ttf') format('woff');
}

p {
  font-family: HACKED Regular, serif;
}

.container {
  display: flex;
  justify-content: center;
  align-content: space-around;
  flex-direction: row;
  min-height: 100vh;
  max-height: 100vh;
}

.main {
  display: flex;
  flex: 1;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  color: white;
}

.mid {
  margin-top: 10px;
  border: 3px solid white;
  transform: translateX(30deg);
}

p {
  margin: auto;
}

.code {
  font-size: 5rem;
}

.status {
  font-size: 10rem;
}

.message {
  font-size: 1.75rem;
}

@media only screen and (max-width: 480px) {
  .code {
    font-size: 3rem;
  }

  .status {
    font-size: 5rem;
  }

  .container {
    flex-direction: column;
  }
}
